header {
  background-color: #1f1f21;
  padding: 24px;
  height: 75px;

  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
}
